* {
    margin: 0;
    padding: 0
}

body {
    background-color: rgb(8, 142, 97);
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: blueviolet;
    background-color: rgb(208, 235, 235);
}

#msg {
    margin-top: 3vh;
    font-size: 3vh;
    color: rgb(229, 233, 237);
    font-family: sans-serif;

}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: brown;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(16, 164, 227);
    border: none;
}


.hide {
    display: none;
}